@font-face{
  font-family: montRegular;
  src: url(../font/montserrat/Montserrat-Regular.ttf);
}
@font-face{
  font-family: montBold;
  src: url(../font/montserrat/Montserrat-Bold.ttf);
}

body{
  font-family: montRegular;
}

/* header */

.header-pic{
    background-image: url(../assets/img/wedding-banquet.jpg);
}

.responsive-image {
    background-image: url(../assets/img/wedding-banquet.jpg);
  }

  @media screen and (min-width: 320px) {
    .responsive-image {
      background-image: url(../assets/img/wedding-banquet.jpg);
    }
  }
  @media screen and (min-width: 640px)
  {
    .responsive-image {
      background-image: url(../assets/img/wedding-banquet.jpg);
    }
  }
  @media screen and (min-width: 1024px) {
    .responsive-image {
      background-image: url(../assets/img/wedding-banquet.jpg);
    }
  }

  .masthead {
    overflow: hidden;
    color: #FFF;
    padding: 1em;
    border-top: 6px solid #9BA800;
    background-color: #404040;
    width: 100%;
    height: 35em;
  }
  
    .responsive-image {
      background-position: center;
      background-attachment: scroll;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
    }
  
  
  .masthead .entry-header {
    margin: 9.5em 0 3.5em 0;
    font-weight: 300;
    line-height: 1.5;
    overflow: auto;
  }
    @media screen and (min-width: 640px) {
      margin: 15.5em 0 7.5em 0;
    }
  
  
  
  .masthead .entry-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4.5em;
    line-height: 1;
    font-weight: normal;
    color: #963444;
  }
    @media screen and (min-width: 640px) {
      max-width: 650px;
      font-size: 4em;
    }
  
  
  
  .masthead .entry-subtitle {
    font-family: "freight-text-pro";
    font-style: italic;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0.35em;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
  }

.sub-sections{
  margin: 2em 1em 2em 1em;
}
.contact-form-container{
  margin: 0 auto;
}

.offers{
  background-color: #f1f1f2;
  width: 100%;
  margin: 5em 0em;
  padding: 3em 0em;
}
.offers-text{
  margin-top: 2em;
}
.banquet-page-head{
  background: linear-gradient(to right, #8576c7, #aaa0d3)
}
.banquet-head-carousel{
  padding-top: 3em;
  padding-bottom: 3em;
}
/* Banquet page */

.banq-name{
  margin-top: 2em;
  margin-bottom: 2em;
}
.banquet-detail{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}
.banq-booking{
  border: 1px solid rgb(80, 78, 78);
  border-radius: 5px;
  padding: 20px;
  margin-top: 1em;
  margin-bottom: 1em
}
.banquet-detail-text{
  margin-bottom: 2em;
  text-decoration: underline;
  text-transform: uppercase;
}
.modalBookingForm{
  margin: 0 auto;
}
.modal-head-center{
  margin: 0 auto;
  margin-left: 20em;
}
.verticle-line-breaker{
  border-top: 1px solid rgb(56, 54, 54);
  width: 80%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;
}
.booking-form  h2 {
  font-size: 2.5em;
  text-transform: capitalize;
}
.booking-form{
  margin-bottom: 2em;
}

/* banquet home page */
.banq-list{
  margin-top: 5em;
  width: 100%;
  height: auto;
}